body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form{
    display: flex;
    border: 1px black solid;
    width: 720px;
}
label{  
    border: 1px solid;
}

