
    <div class="form d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="mb-3 w-25" id="name_field">
            <label for="exampleFormControlInput1" class="form-label">Name: </label>
            <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="mb-3 w-25" id="email_field">
            <label for="exampleFormControlInput1" class="form-label">Email address: </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" >
        </div>
        <div class="mb-3 w-25" id="box_field">
            <label for="exampleFormControlTextarea1" class="form-label">Message: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                placeholder="Write message here..." ></textarea>
        </div>
        <button type="submit" class="btn btn-secondary disabled" id="butn" onkeydown="handlerBtn()">Fill the form</button>
    </div>
