<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="nvb">
        <% for( let index=Disease; index < Disease.length; index++ Disease) { %>
            <ul>
                <li><a href="list">
                        <%Disease.name %>, <% Disease.Causes %>, <% Disease.Symtoms %> <button type="submit"
                                        class="btn btn-primary">edit</button>
                                    <button type="submit" class="btn btn-primary">delete</button>


                    </a></li>
                <% } %>
    </div>
</body>

</html>